<div style="display: none" class="loader" id="loader-5">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<!-- <app-sign-in *ngIf="!isAutherizedUser()"></app-sign-in>
<app-home *ngIf="isAutherizedUser()"></app-home> -->

<!-- <router-outlet></router-outlet> -->

<!-- <ng-select2  ></ng-select2> -->
<!-- <app-header></app-header> -->
<!-- <app-header></app-header> -->

<!-- <lib-ng-toast></lib-ng-toast> -->
<router-outlet></router-outlet>
<!-- <div kendoDialogContainer></div> -->
